<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/index.css' %}" />
        <link
            rel="shortcut icon"
            href="{% static 'main/favicon.svg' %}"
            type="image/x-icon"
        />
        <script defer src="{% static 'main/index.js'%}"></script>
        <title>Urna</title>
    </head>
    <body>
        <h1>Bem vindo a votação Etec Jaraguá 2022</h1>
        <main>
            <div class="candidatos">
                {% for candidato in candidatos %}
                <div class="candidato">
                    <img src="{{candidato.img}}" alt="{{candidato.name}}" />
                    <h3>{{candidato.name}}</h3>
                    <p>{{candidato.descricao}}</p>
                    <button id="{{ forloop.counter }}">VOTAR</button>
                </div>
                {% endfor %}
            </div>
            <button>Cadastrar</button>
        </main>
    </body>
</html>
