<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/index.css' %}" />
        <link
            rel="shortcut icon"
            href="{% static 'main/favicon.svg' %}"
            type="image/x-icon"
        />
        <script defer src="{% static 'main/index.js'%}"></script>
        <title>Document</title>
    </head>
    <body>
        <h1>Bem vindo a Urna!</h1>
        <main>
            {% for candidato in candidatos %}
            <div>
                <p>{{candidato.name}}</p>
                <button id="{{ forloop.counter }}">VOTAR</button>
            </div>
            {% endfor %}
            <button>Cadastrar</button>
        </main>
    </body>
</html>
