<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/vencedor.css' %}" />
        <title>Resultado</title>
    </head>
    <body>
        <h1>Resultados</h1>
        <main>
            {% for candidato in candidatos%} {% if forloop.counter == 2 %}
            <div>
                <h2>Segundo lugar: {{candidato.name}}</h2>
                <img src="{{candidato.img}}" alt="{{candidato.name}}" />
            </div>
            {% elif forloop.first %}
            <div>
                <h1>Primeiro Lugar: {{candidato.name}}</h1>

                <img src="{{candidato.img}}" alt="{{candidato.name}}" />
            </div>

            {% elif forloop.last %}

            <div>
                <h2>Terceiro Lugar: {{candidato.name}}</h2>
                <img src="{{candidato.img}}" alt="{{candidato.name}}" />
            </div>
            {% endif %} {% endfor %}
        </main>
    </body>
</html>
